[Unit]
Description=Startup of Perception and Obstacle Detection systems
After=network.target

[Service]
Type=simple
User=user
ExecStart=/bin/bash -c "source /opt/ros/humble/setup.bash && source /home/user/ros2_ws/install/setup.bash && exec /home/user/ros2_ws/src/visual-obstacle-detection/scripts/launch.sh rviz:=false"
ExecStop=/bin/bash -c "source /opt/ros/humble/setup.bash && source /home/user/ros2_ws/install/setup.bash && ros2 run launch_files stop"
Restart=on-failure

[Install]
WantedBy=multi-user.target
